<fieldset>
    <ul class="ability-scores unlist">
        {{> "systems/bskr/templates/advancement/parts/advancement-ability-score-control-v2.hbs" points
            canAdjust=true }}
        <li class="hint">
            {{ localize "BSKR.ADVANCEMENT.AbilityScoreImprovement.FIELDS.points.hint" }}
        </li>
        {{#each abilities}}
        {{> "systems/bskr/templates/advancement/parts/advancement-ability-score-control-v2.hbs" this canAdjust=true
            canLock=true }}
        {{/each}}
    </ul>
</fieldset>
