<section class="tab activity-{{ tab.id }} {{ tab.cssClass }}" data-tab="{{ tab.id }}" data-group="{{ tab.group }}">
    {{> "systems/bskr/templates/activity/parts/attack-details.hbs" }}
    {{> "systems/bskr/templates/activity/parts/attack-damage.hbs" }}
    {{> "systems/bskr/templates/activity/parts/activity-effects.hbs" }}
</section>
