<div class="bskr2 chat-card rest-card">
    {{{ content }}}

    {{#if actor}}

    {{!-- Deltas --}}
    {{#if deltas.length}}{{> "bskr.card-deltas" }}{{/if}}

    {{!-- Actions --}}
    {{#if activities.length}}{{> "bskr.card-activities" }}{{/if}}

    {{/if}}
</div>
