<div class="bskr2 chat-card turn-card">
    {{#if actor}}

    {{!-- Deltas --}}
    {{#if deltas.length}}{{> "bskr.card-deltas" }}{{/if}}

    {{!-- Actions --}}
    {{#if activities.length}}{{> "bskr.card-activities" }}{{/if}}

    {{else}}
    <p>{{ localize "BSKR.CHATMESSAGE.TURN.NoCombatant" }}</p>
    {{/if}}
</div>
